{% extends "layout.njk" %}

{% block head %}
  <title>Lessons - My Profile</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1 title="Lessons">Lessons</h1>
  </div>
  <section class="cards">

    {% for item in items %}
      <div class="card">
        <div class="card-image-container {{ 'featured-wrapper' if item.featured }}">
          <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" title="{{item.title}}" alt="Imagem de {{item.title}}">
          {% if item.featured %}
            <div class="featured">
              featured
            </div>
          {% endif %}
        </div>
        <div class="card-content">
          <p>
            {{item.title}}
          </p>
        </div>
        <div class="card-info">
          <p>{{item.duration}}</p>
          <p class="price">
            {{item.price}}
          </p>
        </div>
      </div>
    {% endfor %}

  </section>
  
  <script src="/script.js"></script>
{% endblock %}
