<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="/style.css">
  <title>My Profile</title>
</head>
<body>
  <header>
    <div class="links">
      <a href="/" title="About">About</a>
      <a href="/lessons" title="Lessons">Lessons</a>
    </div>
  </header>
  <div id="wrapper">
    <h1 title="Lessons">Lessons</h1>
  </div>
  <section class="cards">
    <div class="card">
      <div class="card-image-container">
        <img src="https://img.youtube.com/vi/Fbu7z5dXcRs/maxresdefault.jpg" title="SQL no Node.JS com Sequelize" alt="Lesson">
      </div>
      <div class="card-content">
        <p>
          SQL no Node.JS com Sequelize
      </div>
      <div class="card-info">
        <p>30 min</p>
        <p class="price">
          Free
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image-container">
        <img src="https://img.youtube.com/vi/ICIz5dE3Xfg/maxresdefault.jpg" title="Deploy de Apps Node.JS" alt="Lesson">
      </div>
      <div class="card-content">
        <p>
          Deploy de Apps Node.JS
      </div>
      <div class="card-info">
        <p>74 min</p>
        <p class="price">
          Free
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image-container">
        <img src="https://img.youtube.com/vi/3tB0uDliS6Y/maxresdefault.jpg" title="Masterizando o Insomnia" alt="Lesson">
      </div>
      <div class="card-content">
        <p>
          Masterizando o Insomnia
      </div>
      <div class="card-info">
        <p>34 min</p>
        <p class="price">
          Free
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image-container">
        <img src="https://img.youtube.com/vi/VpeU3VpszAc/maxresdefault.jpg" title="Aliases no GIT" alt="Lesson">
      </div>
      <div class="card-content">
        <p>
          Aliases no GIT
      </div>
      <div class="card-info">
        <p>30 min</p>
        <p class="price">
          Free
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image-container">
        <img src="https://img.youtube.com/vi/p6d3RzhgQbA/maxresdefault.jpg" title="Criando Templates" alt="Lesson">
      </div>
      <div class="card-content">
        <p>
          Criando Templates
      </div>
      <div class="card-info">
        <p>7 min</p>
        <p class="price">
          Free
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-image-container">
        <img src="https://img.youtube.com/vi/0mYq5LrQN1s/maxresdefault.jpg" title="Typescript, o início de forma prática" alt="Lesson">
      </div>
      <div class="card-content">
        <p>
          Typescript, o início de forma prática
      </div>
      <div class="card-info">
        <p>70 min</p>
        <p class="price">
          Free
        </p>
      </div>
    </div>
  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal"><i class="material-icons">close</i></a>
      <div class="modal-content">
       <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <script src="./script.js"></script>
</body>
</html>