{% extends "layout.njk" %}

{% block head %}
  <title>Lessons - My Profile</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block content %}
  <div id="wrapper">
    <h1 title="Lessons">Lessons</h1>
  </div>
  <section class="cards">

    {% for item in items %}
      <div class="card">
        <div class="card-image-container">
          <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" title="{{item.title}}" alt="Imagem de {{item.title}}">
        </div>
        <div class="card-content">
          <p>
            {{item.title}}
          </p>
        </div>
        <div class="card-info">
          <p>{{item.duration}}</p>
          <p class="price">
            {{item.price}}
          </p>
        </div>
      </div>
    {% endfor %}

  </section>

  <div class="modal-overlay">
    <div class="modal">
      <a class="close-modal"><i class="material-icons">close</i></a>
      <div class="modal-content">
       <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
  <script src="./script.js"></script>
{% endblock %}
