@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap";

:root {
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #282a36;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

header {
  padding: 32px;
  background-color: #00000033;
  border-bottom: 1px solid #333;
}

.links {
  text-align: center;
}

.links a {
  margin: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 3px;
}

.links a:hover {
  color: var(--color-green);
  transition: color 500ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 3px solid var(--color-green);
  margin-bottom: 32px;
  height: 250 px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  opacity: 0.8;
  margin-top: 8px;
}

#wrapper p {
  max-width: 500px;
  margin: 25px auto;
  font-size: 24px;
  line-height: 34px;
}

#wrapper p a {
  color: var(--color-green);
}

#links-footer a {
  border-bottom: 1px solid var(--color-green);
}

/* Card */
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.card {
  display: grid;
  background-color: var(--color-rocket);
  cursor: pointer;
}

.card-image-container img {
  width: 100%;
}

.card-content,
.card-info {
  padding: 24px;
}

.card-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.price {
  background-color: var(--color-rocket);
  filter: brightness(90%);
  border-radius: 20px;
  text-align: center;
  padding: 5px 20px;
  font-weight: bold;
}

/* Modal */
.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0;
  visibility: hidden;
}

.modal {
  position: relative;
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
}

.modal .close-modal {
  color: #000;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

/* Modal ativo */
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-content iframe {
  top: 5%;
  width: 100%;
  height: 90%;
  position: absolute;
}

.featured-wrapper.card-image-container {
  position: relative;
}
.featured {
  background-color: #f7d05f;
  color: #111;
  padding: 2px 8px;
  position: absolute;
  top: -10px;
  right: 5px;
  border-radius: 16px;
}

.video {
  margin: 0 auto;
  max-width: 800px;
}

.video .card {
  cursor: initial;
}

.card-video-container {
  position: relative;
  padding-top: 62.5%;
}

.card-video-container iframe {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}